@charset "UTF-8";

* {
    text-align: center;
}

body {
    background-color: rgb(29, 26, 26);
}

main {
    width: 600px;
    margin: auto;

}

h1 {
    color: white;
    font-size: 50px;
}

main > a {
    color: white;
    text-decoration: none;
    padding: 10px;

}

a.botao {
    margin: 10px;
}