@charset "UTF-8";

body {
    background-color: rgb(29, 26, 26);
}

main {
    max-width: 450px;
    margin: auto;
    text-align: center;
    position: relative;
    
}

h1 {
    color: white;
    font-size: 50px;
}

main > a {
    color: white;
    text-decoration: none;
    padding: 10px;

}

.botao{
    position: absolute;
    
    left: 48%;
    top:  100%;

    transform: translate(-40%, 00%);
}

